Basic Program

In [1]:
print("Hello World")

Hello World

In [2]:
name= "john"
age= 25
print("Name:", name)
print("Age:", age)

Name: john
Age: 25

In [3]:
print("Hello Python")
name= "john"
age= 25
print("Name:", name)
print("Age:", age)

Hello Python
Name: john
Age: 25

In [10]:
x = 10
y = 20
z = x + y
print(z)

30

In [11]:
print(20+12)

32

In [12]:
print(20-12)

8

In [13]:
print(20*12)

240

In [14]:
print(20/12)

1.6666666666666667

In [15]:
print(2**12)

4096

In [19]:
result_multiplication = 6 * 2 
Print("The result of multiplication is:", result_multiplication)

NameError: name 'Print' is not defined

In [20]:
# Multiplication
result_multiplication = 6 * 2

# we can add multiple print statements in a single line by separating them with a comma
print("The result of multiplication is:", result_multiplication)  # here

The result of multiplication is: 12

In [21]:
result_multiplication = 6 * 2 

print("The result of multiplication is:", result_multiplication)

The result of multiplication is: 12

In [22]:
result_division = 6 / 2 

print("The result of Division is:", result_multiplication)

The result of Division is: 12

In [30]:
result_floor_division = 10//3 

print("The result of floor division is:", result_floor_division)

result_exponential = 6 ** 2 

print("The result of exponential is:", result_exponential)
result_modulus = 10 % 3 

print("The result of Modulus is:", result_modulus)

The result of floor division is: 3
The result of exponential is: 36
The result of Modulus is: 1

In [32]:
result_of_order=(3+5)**2-4/2
print("Result using order:", result_of_order)

Result using order: 62.0

Types of Variable in Python:
Data tupes: there are three fundamental types of function in python is defined as: int(integer), float(floating point), str(string)

Integer:

integer is use to store integer value of data thay can be of any length but limitted by the meomory of system.
 example:

In [36]:
a= 25
print("Age:", a)

Age: 25

In [37]:
a=10
b=5
sum = a+b
print(sum)

15

In [38]:
# binary
binary_num=0b1010
print(binary_num)

10

In [39]:
# octal
octal_num=0o1010
print(octal_num)

520

In [45]:
# hexadecimal
hexa_num=0xABDD
print(hexa_num)

43997

Float:
Float is used to store the decimal numbers. Thay have created including a decimal number in scientific calculation in mathematics.
example: pi=3.14159

In [51]:
radius=5.0
area=pi*(radius**2)
print("Area:", area)

Area: 78.53975

In [52]:
r =5.0
area=pi*(r**2)
print("Area:", area)

Area: 78.53975

In [53]:
#Float function
radius=5.13
area=pi*(radius**2)
print("Area:", area)

Area: 82.67690987099999

In [54]:
rounded_pi= round(pi, 2)
print(rounded_pi)

3.14

In [55]:
#Round function
rounded_pi= round(pi, 4)
print(rounded_pi)

3.1416

In [56]:
# Float variable
height=6.8
print("Height:", height)

Height: 6.8

String:

string is the type of data structure that is used to store text data and created by enclosing charecter in string. 

strings are ordred sequence of charecters i.e we can acces any charecter bu using indexes. the very first index in python is of 0.

In [57]:
great= 'Hello world'
print(great[0])

H

In [64]:
great= 'Hello, world'
print(great[6])

In [65]:
print(len(greating))

NameError: name 'greating' is not defined

In [66]:
great= 'Hello, world'
print(len(greating))

NameError: name 'greating' is not defined

In [67]:
great= 'Hello, world'
print(len(great))

12

List

List is used to store multiple item in a single variable. list are built in data type which is used to store collection of data the others are tuple, set, dictionary

List are ordered i.e item has a difined ordre and that order will not change. if we add a new irem then it add in the end of the list

list items are also indexed.

exam.

In [68]:
fruits = ['apple', 'banana', 'cherry' ]
print(fruits[o])

NameError: name 'o' is not defined

In [69]:
fruits = ['apple', 'banana', 'cherry' ]
print(fruits[0])

apple

In [70]:
fruits = ['apple', 'banana', 'cherry' ]
print(fruits[3])

IndexError: list index out of range

In [71]:
fruits = ['apple', 'banana', 'cherry' ]
print(fruits[2])

cherry

In [74]:
fruits = ['apple', 'banana', 'cherry' ]
fruits[1]='orrange'
print(fruits)
print(len(fruits))

['apple', 'orrange', 'cherry']
3

In [75]:
number=[1,2,3,4,5]
print('Numbers:', number)

Numbers: [1, 2, 3, 4, 5]

Tuple:

tuples are used to hold multiple pieces of data. they are similar to list but they are immutable i.e we can not add  remove, or modify.

tuples are ordered i.e item has defined order that can not change. they are indexed aslo.

In [76]:
fruits = ('apple', 'banana', 'cherry' )
print(fruits[0])

apple

In [77]:
fruits = ('apple', 'banana', 'cherry' )
fruits[1]= 'orange' 
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [78]:
fruits = ('apple', 'banana', 'cherry' )
print(len(fruits))

3

Dictionary:

Dictionaries are the type of data structure to store data in key-value pairs. key is used to identyfy the item and "value" as the name value of item.

they are unordered. 

each key must be unique. if you try to add an item with a key that already exists in the dictionary, the new item will overwrite it.

In [80]:
student={
    'name': 'Ramesh',
    'age': 20,
    'course':['Math', 'Science']
}
print(student['name'])

Ramesh

In [81]:
student={
    'name': 'Ramesh',
    'age': 20,
    'course':['Math', 'Science']
}
print(student['course'])

['Math', 'Science']

In [82]:
student={
    'name': 'Ramesh',
    'age': 20,
    'course':['Math', 'Science']
}
print(student['course'])
print(student['grade'])

['Math', 'Science']

KeyError: 'grade'

In [84]:
student={
    'name': 'Ramesh',
    'age': 20,
    'course':['Math', 'Science']
}
print(student['course'])
print(student.get('grade'))
print("Students Details:", student)

['Math', 'Science']
None
Students Details: {'name': 'Ramesh', 'age': 20, 'course': ['Math', 'Science']}